html {
    background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para ocupar pelo menos toda a altura da viewport */
}

.container {
    display: flex;
    justify-content: space-between; /* Para distribuir o espaço entre os elementos */
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #85c394;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.btn-login {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #218838;
}

.horizontal-container {
    display: flex; /* Alinha as seções horizontalmente */
    justify-content: space-around; /* Distribui espaço uniforme entre as seções */
    width: 80%; /* Largura do contêiner */
    margin: 50px auto; /* Centraliza o contêiner e adiciona margem */
    float: right;
}

.donation-info {
    flex: 1; /* Faz com que cada seção ocupe o mesmo espaço */
    margin: 10px; /* Adiciona margem entre as seções */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

.donation-info p {
    font-size: 18px;
}

.donation-info h2 {
    font-size: 100px; /* Tamanho ajustado */
    color: black;
    margin: 20px 0; /* Margens superior e inferior */
}

.btn-donate {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px; /* Margem acima do botão */
}

.btn-donate:hover {
    background-color: #218838;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Isso empurra o footer para o final da página */
}

footer p {
    margin: 0;
}
